if navigation	
	footer(class="navigation navigation--footer") 
		.logo 
			a.logo__link(href=Link(navigation))
				svg.logo__image(viewbox='0 0 1861 316' xmlns='http://www.w3.org/2000/svg')
					path(d="M517.7 1.00968H607.6V194.01C605.94 297.95 491.97 317.55 397 314.51L376.7 314.91H0V1.00968H112.5V264.21H251.1C233.6 245.51 224.8 222.11 224.8 193.91V1.00968H314.7V189.21C314.7 212.91 323.6 230.61 341.3 242.51C372.95 265.42 459.66 265.7 491.1 242.51C508.9 230.71 517.7 212.91 517.7 189.21V1.00968ZM1860.2 226.91C1856.7 300.53 1764.97 314.54 1685.3 314.81C1637.65 314.7 1587.57 310.88 1545.8 298.21V297.51C1517.8 309.61 1482.6 315.71 1440.2 315.71C1315.8 315.71 1253.5 254.21 1253.5 159.31C1253.5 103.21 1269.2 62.6097 1300.6 37.6097C1353.61 -10.4203 1510.94 -12.0503 1569.8 30.4097C1630.05 -10.1603 1759.45 -2.83032 1834.7 13.6097V69.9097C1782.22 55.4297 1704.25 49.3097 1653.7 61.8097C1637.6 65.9097 1629.6 74.7097 1629.6 88.3097C1629.6 96.2097 1632.5 102.51 1638.3 107.21C1644.1 111.91 1653.9 116.21 1667.8 120.01C1682.1 123.81 1702 128.01 1727.4 132.81C1790.15 145.83 1859 160.94 1860.2 226.91ZM1545.1 159.31C1544.73 83.3697 1513.97 55.7797 1440.2 54.7097C1366.36 55.6497 1335.41 82.9697 1335.3 159.31C1335.44 230.37 1368.84 260.98 1440.2 261.01C1511.5 261.01 1544.69 229.79 1545.1 159.31ZM1767.7 226.91C1767.2 203.65 1749.62 197.9 1725.5 190.91C1704.87 184.27 1655.19 175.98 1626.7 168.51C1625.4 203.21 1616.8 231.81 1600.8 254.21C1642.97 262.06 1711.46 263.79 1745.5 254.71C1760.3 250.71 1767.7 241.41 1767.7 226.91ZM930.5 189.51L818.1 0.809678H737.2V314.81H817.5V110.51L907.3 260.71H953.7L1042.9 110.51V314.81H1123.2V0.809678H1042.9L930.5 189.51Z" fill="#363636")
		nav 
			.group(class="group--desktop")
				a(href=Link(document) data-state="disabled") Email: info@lumos.com
				.set
					a(href=Link(document) data-state="disabled") Facebook
					a(href=Link(document)) Instagram
			.group(class="group--tablet")
				a(href=Link(document) data-state="disabled") info@lumos.com
				.set
					a(href=Link(document) data-state="disabled") Facebook
					a(href=Link(document)) Instagram
			.group(class="group--phone")
				a(href=Link(document)) IG
				a(href=Link(document) data-state="disabled") FACEBOOK
			.group(class="group--desktop")
				p 1231 Redwood Ave, 
				p #{document.lang === "fr-ca" ? "Londres, Royaume-Uni" : "London, United Kingdom"} 
			.group(class="group--tablet")
				a(href=Link(document) data-state="disabled")
					span #{document.lang === "fr-ca" ? "TERMES" : "TERMS"} 
					br
					span & CONDITIONS 
			.group(class="group--phone")
				a(href=Link(document) data-state="disabled")
					span #{document.lang === "fr-ca" ? "TERMES" : "TERMS"} 
					br
					span & CONDITIONS 
			.group(class="group--desktop")
				a(href=Link(document) data-state="disabled") #{document.lang === "fr-ca" ? "La livraison" : "Shipping info"} 
				a(href=Link(document) data-state="disabled") #{document.lang === "fr-ca" ? "Termes & Conditions" : "Terms & Conditions"} 
			.group(class="group--desktop")
				p #{document.lang === "fr-ca" ? "Site web par" : "Website by"}  
				a(href="https://www.actta.studio" target="_blank") 
					| AC
					span.merged T
					span.merged T
					| A Studio
			.group(class="group--tablet")
				a(href=Link(document) data-state="disabled") #{document.lang === "fr-ca" ? "La livraison" : "Shipping info"}
				a(href=Link(document) data-state="disabled") #{document.lang === "fr-ca" ? "Site web par ACTTA STUDIO" : "Website by ACTTA STUDIO"}  
			.group(class="group--phone")
				a(href="https://www.actta.studio" target="_blank") #{document.lang === "fr-ca" ? "Site web par" : "Website by"}  
				a( href="https://www.actta.studio" target="_blank") ACTTA STUDIO 

			
				