block variables
doctype html 
html(lang=`en`)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		base(href="/")
		
		title=meta.data.title

		meta(name='description' content=meta.data.description ? meta.data.description : '')

		link(rel="alternate" hreflang="en-us" href="http://lumos.actta.studio/en-us")
		link(rel="alternate" hreflang="fr-ca" href="http://lumos.actta.studio/fr-ca")

		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ECEAE4")
		meta(name="theme-color" content="#ECEAE4")

		meta(property="og:type" content="website")
		meta(property="og:title" content=meta.data.title ? meta.data.title : '')
		meta(property="og:description" content=meta.data.description ? meta.data.description : '')
		meta(property="og:image" content=meta.data.image ? meta.data.image.url : '')

		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content=meta.data.title ? meta.data.title : '')
		meta(name="twitter:description" content=meta.data.description ? meta.data.description : '')
		meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')

		link(rel="stylesheet" href="main.min.css")

		//- style
		//- 	include ../public/main.css

	body
			include ./partials/preloader
			header(class=`${noHeaderLogo.includes(template) ? "no-logo navigation--" + template :""} navigation navigation--header`) 
				if (!noHeader.includes(template))
					include ./partials/header

			main.content#content(data-template=template)
				block content

			if (!noFooter.includes(template))
				include ./partials/footer

			script.
				window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
			script(defer='' src='/_vercel/insights/script.js')
