extends ../base.pug 

block variables
	- var template = 'home'

block content
	.home 
		section.hero-placeholder
		if document
			- var collectionItemIndex = 0
			- var productShowcaseIndex = 0
			each section, index in document.data.body
				if (section.slice_type == 'indented_content')
					section.indented-content(class=`indented-content--${document.lang}`)
						.indented-content__wrapper
							h2.indented-content__label(class=`indented-content__label--position-${section.primary.label_position.toLowerCase()}`)
								span.indented-content__label__text=section.primary.label
							- var textDesktop = section.primary.text.split('\n')
							- var textTablet = section.primary.text_tablet.split('\n')
							- var textPhone = section.primary.text_phone.split('\n')
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()}`)
								each paragraph in textDesktop
									span!= paragraph
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()}`)
								each paragraph in textTablet
									span!= paragraph
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()}`)
								each paragraph in textPhone
									span!= paragraph
				if (section.slice_type == 'product_showcase')
					- productShowcaseIndex++
					section.product-showcase
						.product-showcase__wrapper(class=`product-showcase__wrapper--${section.primary.type.toLowerCase()}`)
							each item, index in section.items
								- var image = URL(item, productShowcaseIndex, index + 1 ,'small')
								figure.product-showcase__item
									picture
										source(srcset=item.image.url+"&q=20" media="(max-width: 430px)")
										source(srcset=item.image.url+"&q=50" media="(max-width: 767px)")
										source(srcset=item.image.url+"&q=75" media="(min-width: 768px)")
										img.product-showcase__item__image(src=item.image.url+"&q=65" draggable="false" alt=item.image.alt )
							a.product-showcase__link(href=Link(section.primary.cta_link))=section.primary.cta_label
				if (section.slice_type == 'collections')
					section.collections(class=`collections--${document.lang}`)
						ul.collections__wrapper
							each collection in section.items
								- collectionItemIndex++
								li.collections__item(class=`collections__item--${document.lang}`)
									a.collections__item__title(href=Link(collection.collection))=collection.collection.data.collection_title
				if (section.slice_type == "article_cta") 
					section.article-cta(class=`article-cta--${document.lang}`)
						.article-cta__wrapper
							.cta-content
								figure.cta-content__image__wrapper
									img.cta-content__image(src=section.primary.image.url draggable="false")
								.cta-content__text
									h3.cta-content__text__title=section.primary.title
									a.cta-content__text__link(href=Link(section.primary.cta_link))=section.primary.cta_label
							.article
								.article__wrapper
									figure.article__image-wrapper
										div.article__primary-image
									.article__text
										a.article__text__cta(href="#") #{document.lang === "fr-ca" ? "Lire" : "Read"}
										p.article__text__description Article №023
				if (section.slice_type == "featured_products")
					section.featured-products
						.featured-products__wrapper
							each product in section.items
								a(href=Link(product.product)).product
									figure.product__image
										img(src=product.product.data.image.url draggable="false" alt=product.product.data.image.alt) 


