extends ../base.pug 

block variables
	- var template = 'home'

block content
	.home 
		section.hero-placeholder
		if document
			- var showcaseIndex = 0
			- var indentedIndex = 0
			- var collectionItemIndex = 0
			each section, index in document.data.body
				if (section.slice_type == 'indented_content')
					//- store index in a variable
					//- --lang modifier for french and english
					- indentedIndex++
					section.indented-content(class=`indented-content--${indentedIndex} indented-content--${document.lang}`)
						.indented-content__wrapper
							h2.indented-content__label(class=`indented-content__label--position-${section.primary.label_position.toLowerCase()}`)
								span.indented-content__label__text=section.primary.label
								//- store text for all three breakpoints in variables
							- var textDesktop = section.primary.text.split('\n')
							- var textTablet = section.primary.text_tablet.split('\n')
							- var textPhone = section.primary.text_phone.split('\n')
							//- check if its desktop, tablet or phone.
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()} indented-content__text--desktop`)
								each paragraph in textDesktop
									span!= paragraph
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()} indented-content__text--tablet`)
								each paragraph in textTablet
									span!= paragraph
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()} indented-content__text--phone`)
								each paragraph in textPhone
									span!= paragraph
				if (section.slice_type == 'product_showcase')
					- showcaseIndex++
					section.product-showcase(class=`product-showcase--${showcaseIndex} product-showcase--${document.lang}`)
						.product-showcase__wrapper(class=`product-showcase__wrapper--${section.primary.type.toLowerCase()}`)
							each item in section.items
								figure.product-showcase__item
									img.product-showcase__item__image(src=item.image.url)
							a.product-showcase__link(href=Link(section.primary.cta_link))=section.primary.cta_label
				if (section.slice_type == 'collections')
					section.collections(class=`collections--${document.lang}`)
						ul.collections__wrapper
							each collection in section.items
								- collectionItemIndex++
								li.collections__item(class=`collections__item--${collectionItemIndex}`)
									a.collections__item__title(href=Link(collection.collection))=collection.collection.data.collection_title
				if (section.slice_type == "article_cta") 
					section.article-cta(class=`article-cta--${document.lang}`)
						.article-cta__wrapper
							.cta-content
								figure.cta-content__image__wrapper
									img.cta-content__image(src=section.primary.image.url)
								.cta-content__text
									h3.cta-content__text__title=section.primary.title
									a.cta-content__text__link(href=Link(section.primary.cta_link))=section.primary.cta_label
							.article
								.article__wrapper
									figure.article__image-wrapper
										div.article__primary-image
									.article__text
										a.article__text__cta(href="#") #{document.lang === "fr-ca" ? "Lire" : "Read"}
										p.article__text__description Article №023



