extends ../base.pug 

block variables
	- var template = 'home'

block content
	.home 
		section.hero-placeholder
		if document
			- var collectionItemIndex = 0
			- var productShowcaseIndex = 0
			each section, index in document.data.body
				if (section.slice_type == 'indented_content')
					section.indented-content(class=`indented-content--${document.lang}`)
						.indented-content__wrapper(data-animation='indents')
							h2.indented-content__label(class=`indented-content__label--position-${section.primary.label_position.toLowerCase()}`)
								span.indented-content__label__text=section.primary.label
							- var textDesktop = section.primary.text.split('\n')
							- var textTablet = section.primary.text_tablet.split('\n')
							- var textPhone = section.primary.text_phone.split('\n')
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()}`)
								each paragraph in textDesktop
									span!= paragraph
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()}`)
								each paragraph in textTablet
									span!= paragraph
							p.indented-content__text(class=`indented-content__text--${section.primary.indent_size.toLowerCase()}`)
								each paragraph in textPhone
									span!= paragraph
				if (section.slice_type == 'product_showcase')
					- productShowcaseIndex++
					section.product-showcase
						.product-showcase__wrapper(class=`product-showcase__wrapper--${section.primary.type.toLowerCase()}`)
							each item, index in section.items
								figure.product-showcase__item
									picture
										source(srcset=item.image.url+"&w=0.1" media="(max-width: 430px)")
										source(srcset=item.image.url+"&w=0.65" media="(max-width: 767px)")
										source(srcset=item.image.url+"&w=.85" media="(min-width: 768px)")
										img.product-showcase__item__image(data-src=item.image.url draggable="false" alt=item.image.alt width=item.image.dimensions.width height=item.image.dimensions.height)
							if(section.primary.type.toLowerCase() !== "cta-none")
								a.product-showcase__link(href=Link(section.primary.cta_link) class="a--link")=section.primary.cta_label
				if (section.slice_type == 'collections')
					section.collections(class=`collections--${document.lang}`)
						ul.collections__wrapper
							each collection in section.items
								- collectionItemIndex++
								li.collections__item(class=`collections__item--${document.lang}`)
									a.collections__item__title(href=Link(collection.collection) class="a--link")=collection.collection.data.collection_title
				if (section.slice_type == "article_cta") 
					section.article-cta(class=`article-cta--${document.lang}`)
						.article-cta__wrapper
							.cta-content
								figure.cta-content__image__wrapper
									source(srcset=section.primary.image.url+"&w=0.005&ar=1&fit=crop" media="(max-width: 430px)" width=Math.round(section.primary.image.dimensions.width*.2) height=Math.round(section.primary.image.dimensions.height*.2))
									source(srcset=section.primary.image.url+"&w=0.65" media="(max-width: 767px)" width=Math.round(section.primary.image.dimensions.width*.75) height=Math.round(section.primary.image.dimensions.height*.75))
									source(srcset=section.primary.image.url+"&w=.85" media="(min-width: 768px)" width=Math.round(section.primary.image.dimensions.width) height=Math.round(section.primary.image.dimensions.height))
									img.cta-content__image(data-src=section.primary.image.url draggable="false" alt=section.primary.image.alt )
								.cta-content__text
									h3.cta-content__text__title=section.primary.title
									a.cta-content__text__link(href=Link(section.primary.cta_link) class="a--link")=section.primary.cta_label
							.article
								.article__wrapper
									figure.article__image-wrapper
										source(srcset=section.primary.article.data.featured_image.url+"&w=0.05" media="(max-width: 430px)" width=Math.round(section.primary.article.data.featured_image.width*.2) height=Math.round(section.primary.article.data.featured_image.height*.2))
										source(srcset=section.primary.article.data.featured_image.url+"&w=0.65" media="(max-width: 767px)" width=Math.round(section.primary.article.data.featured_image.width*.75) height=Math.round(section.primary.article.data.featured_image.height*.75))
										source(srcset=section.primary.article.data.featured_image.url+"&w=.85" media="(min-width: 768px)" width=Math.round(section.primary.article.data.featured_image.width) height=Math.round(section.primary.article.data.featured_image.height))
										img.article__primary-image(data-src=section.primary.article.data.featured_image.url draggable="false" alt=section.primary.article.data.featured_image.alt)
									.article__text
										a.article__text__cta(href="#" class="a--link") #{document.lang === "fr-ca" ? "Lire" : "Read"}
										p.article__text__description #{(document.lang === "fr-ca" ? "L' Article №0" : "Article №0") + section.primary.article.data.label}
				if (section.slice_type == "featured_products")
					section.featured-products
						.featured-products__wrapper
							each item in section.items
									figure.featured-product
										a.featured-product__link(href=Link(item.product) class="a--link")
										picture
											source(srcset=item.image.url+"&w=0.1" media="(max-width: 430px)" width=Math.round(item.image.dimensions.width*.2) height=Math.round(item.image.dimensions.height*.2))
											source(srcset=item.image.url+"&w=0.65" media="(max-width: 767px)" width=Math.round(item.image.dimensions.width*.2) height=Math.round(item.image.dimensions.height*.2))
											source(srcset=item.image.url+"&w=.85" media="(min-width: 768px)" width=Math.round(item.image.dimensions.width*.2) height=Math.round(item.image.dimensions.height*.2))
											img(data-src=item.image.url draggable="false" alt=item.image.alt) 


